<launch>
<!-- Launch turtlesim node -->
  <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" respawn="true">
    <param name="background_r" value="200"/>
    <param name="background_g" value="200"/>
    <param name="background_b" value="200"/>  
  </node>    
<!-- <character_node> : Draw character -->
  <node pkg="turtle_character_pkg" type="character_node.py"  name="character_node" output="screen">
    <param name="character" value="1"/> <!-- 1==lamda   2==2 -->
  </node>


<!-- <rotating_node> : Unomment for Specified movements -->


  <node pkg="turtle_character_pkg" type="rotating_node.py" name="rotating_node" output="screen">
      <param name="angular_vel" value="50"/>
  </node>

<!-- <relocating_keys_node> : Unomment for arrow keys movements 

  <node pkg="turtle_character_pkg" type="relocating_keys_node.py" name="relocating_keys_node" output="screen"/>

-->


</launch>
